.post-header{
    display: flex;
    justify-content: space-between;
}
.post-header-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*.p-link{*/
/*    height:  6px;*/
/*    width: 6px;*/
/*}*/

.p-highlight .p-link{
    background-color: #6BA3BE;
}
.input-comment:focus{
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #6BA3BE;
}
button:focus{
    box-shadow: none;

}