.message-system{
    justify-self: center;
}
.message-me{
    justify-self: flex-end;
}
.message-friend{
    justify-self: flex-start;
}
.message:hover {
    .btn-more{
        display: block !important;
    }
}

.message .message-img img{
    max-width: 320px;
    max-height: 250px;

}

.theme_dark{
    .message-system .message-content{
        background-color: #292929  !important;
    }
    .message-content-file a{
        color: pink !important;
    }
}

.theme_light{

    .message-content-file a{
        color: #ff748c !important;
    }
}